html,
body{
    padding: 0;
    margin: 0;
    background-color: #343434;
    font-family: Arial, Helvetica, sans-serif;
}
.space{
    width: 100vw;
    height: 60px;
}
.header{
    display: flex;
    height: 60px;
    background-color: rgb(52,52,52,0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: 0 1px 0px #000000;
    position: fixed;
    top: 0;
    backdrop-filter: saturate(180%) blur(5px);
}
.header-container{
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    /* background-color: #343434; */
}
.header img{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    /* width: 3.5vw; */
}
.menu{
    display: inherit;
    height: 100%;
}
.header ol{
    display: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
} 
.header li{
    list-style: none;
    margin-right: 30px;
}
.header a{
    color: #E5E5E5;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.header a:hover{
    text-decoration: underline;
}

/*---------Aquí termina el header---------*/

.calltoAction{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    background-color: #545658;
    box-shadow: 0 2px 4px 0px #000000;
}
.section-container{
    display: inherit;
    height: 100%;
    width: 100vw;
}
.section-container h1{
    display: inherit;
    font-weight: bold;
    font-size: 50px;
    color: #039AFF;
    margin: 0;
    height: inherit;
    width: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    word-spacing: 5px;
}

/*---------Aquí termina el callToAction---------*/

.portafolio{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.portafolio .container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-items: center;
    height: inherit;
    padding: 60px 0 0 0;
}
.vl{
    width: 7px;
    border-radius: 20px;
    background-color: #039AFF;
}
.portafolio-container{
    display: grid;
    grid-template-rows: 100px repeat(4, 250px);
    justify-items: center;
    width: 100%;
    background-color: #545658;
    border-radius: 20px;
}
.portafolio-container h3{
    color: #E5E5E5;
    display: flex;
    align-items: center;
    margin: 0;
}
.project{
    width: 85%;
    height: 200px;
    border: 2px solid #039AFF;
    border-radius: 20px;
}

.hr{
    width: 80%;
    color: #039AFF;
}

/*---------Aquí termina el Portafolio---------*/

.contacto{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.contacto .container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-items: center;
    height: inherit;
    padding: 60px 0 ;
}
.contacto-container{
    display: grid;
    grid-template-rows: 100px repeat(1, 144px);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: flex-start;
    width: 100%;
    background-color: #545658;
    border-radius: 20px;
}
.contacto-container h3{
    grid-column-end: span 4;
    color: #E5E5E5;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}
.contacto-container img{
    width: 80px;
}

/*---------Aquí termina la seccion de contacto---------*/

.footer{
    height: auto;
    background-image: linear-gradient(#545658, #343434);
    font-family: Arial, Helvetica, sans-serif;
}
.footer-container{
    display: flex;
    justify-content: center;
    height: inherit;
}
.footer-container h3{
    color: #E5E5E5;
}
@media screen and (max-width: 400px){
    body{
        /* background-color: red; */
    }
    .header .link{
        font-size: 12px;
    }
    .header img{
        width: 34px;
    }
    .calltoAction{
        height: 150px;
    }
    .section-container h1{
        font-size: 27px;
    }
    .portafolio-container{
        grid-template-rows: 70px repeat(4, 250px);
    }
    .contacto-container{
        grid-template-rows: 70px repeat(1, 100px);
    }
    .project {
        border: 1px solid #039AFF;
    }
    .contacto-container img {
        width: 70px;
    }
    .vl {
        width: 5px;
    }
}