.colores{
    color: rgb(144, 202, 249);
    color: rgb(3, 169, 244);
    color: rgb(21, 101, 192);
    color: rgb(128, 151, 162);
    color: rgb(55, 71, 79);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(3, 169, 244);
    padding: 0;
    margin: 0;
    /* position: fixed; */
}
.header{
    /* font-family: 'Vollkorn', serif; */
    display: flex;
    height: 80px;
    /* border: 1px solid red; */
}
.container{
    height: inherit;
    display: inherit;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    position: fixed;
    z-index: 3;
    left: 0;
}
.header img{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}
.header nav{
    height: inherit;
}
.header ol{
    margin: 0;
    padding: 0;
    display: flex;
    height: inherit;
}
.header li{
    height: inherit;
    list-style: none;
}
.header a{
    display: flex;
    height: inherit;
    align-items: center;
    margin-right: 2em;
    font-size: 19px;
    text-decoration: none;
    color: rgb(55, 71, 79);
}
.hero{

}
.hero h1{
    position: absolute;
    color: rgb(1, 1, 1);
    font-size: 69px;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.background{
    width: 100vw;
}
.carousel{
    width: 100vw;
    overflow: hidden;
    padding: 7px 36px;
    position: relative;
    box-sizing: border-box;
}
.h2{
    color: rgb(55, 71, 79);
    text-align: center;
}
.carousel-container{
    /* white-space: nowrap; */
    margin: 70px 0px;
    padding-bottom: 10px;
}
.item{
    width: 330px;
    height: 255px;
    border-radius: 20px;
    background-color: black;
    overflow: hidden;
    margin:0 10px 10px 0;
    display: inline-block;
    cursor: pointer;
    transition: 200ms;
    transform-origin: center;
}
.item img{
    width: 330px;
    height: 255px;
}
.item:hover ~ .item{
    /* transform: translate3d(10px,0,0); */
}
.carousel-container:hover .item{
    opacity: o.3;
}
.carousel-container:hover .item:hover{
    transform: scale(1.08);
    opacity: 1;
}